.deps
.idea/
.libs/
.vscode/
*.la
*.lo
*.m4
autom4te.cache/
build/
composer.lock
config.*
configure
configure.in
install-sh
libtool
ltmain.sh
Makefile
Makefile.*
missing
mkinstalldirs
modules/
vendor
